<app-tweet (tweetEnviado)="loadFeed()"></app-tweet>
<div class="container">
<div class="row" *ngFor="let tweet of feed">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 border">
    <div class="row">
        <div class="col-2">
          <div class="user-view mt-2">
            <img class="responsive-img img" src="https://avatars.githubusercontent.com/u/3903977?s=200&u=2b759d200b94f4e32e055161816ffaf017aa62a3&v=4">
          </div>
        </div>
        <div class="col-10 px-2">
          <div class="row p-0 mt-3">
            <span>{{tweet.dtHora | date: 'medium'}}</span>
          </div>
          <div class="row px-3">
            <span>{{tweet.conteudo}}</span>
          </div>
          <div class="row">
            <div class="col-10 p-3">
              <div class="row d-flex justify-content-between">
                <div class="col-2 text-primary"><a role="button"><i class="bi bi-chat"></i></a></div>
                <div class="col-2 text-primary"><a role="button"><i class="bi bi-arrow-repeat"></i></a></div>
                <div class="col-2 text-primary"><a role="button"><i class="bi bi-heart"></i></a></div>
                <div class="col-2 text-primary"><a role="button"><i class="bi bi-arrow-bar-up"></i></a></div>
              </div>
            </div>
          </div>
        </div>
  </div>
  </div>
  <div class="col-sm"></div>
</div>
</div>
